#page-header .about-header{
    background-image: url("img/about/banner.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    border-radius: 2%;
}

#page-header .about-header h2,
#page-header .about-header p{
    color: #fff;
}

#about-s2 .row img{
    width: 50%;
    height: auto;
}