.product img{
    width: 100%;
    height: auto;
    box-sizing: auto;
    object-fit: cover;
}

#featured > div:nth-child(6) > nav > ul > li.page-item.active > a{
    background-color: black;
}

#featured > div.row.mx-auto.container > nav > ul > li:nth-child(n):hover{
    background-color: coral;
    color: #fff;
}